@font-face {
  font-family: "BasisGrotesquePro";
  src: url("../fonts/BasisGrotesquePro.woff2") format("woff2"),
       url("../fonts/BasisGrotesquePro.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BasisGrotesquePro";
  src: url("../fonts/BasisGrotesquePro-Md.woff2") format("woff2"),
       url("../fonts/BasisGrotesquePro-Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BasisGrotesquePro";
  src: url("../fonts/BasisGrotesquePro-Bold.woff2") format("woff2"),
       url("../fonts/BasisGrotesquePro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
